@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84; 
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;
    
    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-do-titulo:"Bebas Neue", sans-serif;
    --fonte-do-subtitulo:'idroid', sans-serif; 
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c5ebc5;
    font-family: var(--fonte-padrão);
    text-align: justify;

}
header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    min-height: 115px;
    padding-top: 20px;
    padding-bottom: 15px;

}
header > h1{
    font-family: var(--fonte-do-titulo);
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    font-size: 3em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.295);
}
header > p{
    font-family: var(--fonte-do-titulo);
    color: white;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.295)
}
nav{
    background-color: var(--cor5);
    padding: 10px 10px 15px 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.216)
}
nav > a.menu{
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
}
nav > a.menu:hover{
    background-color: var(--cor2);
    border-radius: 10px;
    margin-right: 10px;
    transition-duration: 0.3s;
}
main{
    background-color:white;
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.601);
}
main > h1{
    color: var(--cor6);
    font-family: var(--fonte-do-subtitulo);
    padding: 5px;
    margin-bottom: 15px;
    
}
main > h2{
    background-image: linear-gradient(to right, var(--cor2), white);
    color: var(--cor6);
    font-family: var(--fonte-do-subtitulo);
    padding: 5px;
    margin-bottom: 15px;
    
}
main > p{
    font-family: var(--fonte-padrão);
    margin-bottom: 15px;
    text-indent: 30px;
    line-height: 1.5em;
}
p > strong{
    color: var(--cor5);
}
p > .maisclara{
    color: var(--cor6);
}
p > a{
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}
p > a:hover{
    text-decoration: underline;
}
p > :active{
    color: var(--cor6);
}
picture > img{
    width: 100%;
    margin-bottom: 15px;
}
picture > img#pequena{
    max-width: 350px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
div.video{
    background-color: var(--cor6);
    padding: 20px;
    margin: 0px -20px 15px -20px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}
aside{
   background-color: #2fa866;
    min-width: 300px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 6px 13px rgba(0, 0, 0, 0.545);
}
aside > h1{
    background-color: #063d1e;
    color:white ;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    margin: -20px -20px 15px -20px
    
}
aside > p{
    margin-bottom: 15px;
    text-indent: 30px;
}
aside > ul{
    list-style-position: inside;
    list-style-type: '🗸\00A0\00A0';
    columns: 2;
    margin-bottom: 15px;
}
aside > p{
    line-height: 1.5em;
}
footer{
    background-color: var(--cor6);
    padding: 5px;
}
footer > p{
    color: white;
    font-size: 15px ;
    text-align: center;
}
p > a{
    font-weight: normal;
}
p > a.rodape{
    color: white;
}
